{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="header section text-contrast overlay overlay-primary alpha-7 parallax cover" style="background-image: url(img/bg/sunrise.jpg);">
    <div class="container-fluid pb-9">
        <div class="row text-center">
            <div class="col-12 col-lg-6 mx-auto"><img src="img/logo-light.png" alt="">
                <h1 class="text-contrast bold display-4 display-md-3 text-capitalize mt-5">Meet DashCore</h1>
                <p class="lead bold">Powerful Responsive SaaS, Startup & Software Template</p>
            </div>
        </div>
    </div>
</header>
<section class="section" id="demos">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h2>Project Selection</h2>
            <p class="lead text-secondary">DashCore comes with multiple demos, choose the one you want to give a try.</p>
        </div>
        <div class="row gap-y">
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center"><span class="is-new badge badge-danger badge-pill">New</span>
                        <h4 class="card-title mb-0 text-capitalize">Payment Services</h4>
                        <nav class="btn-group ml-auto"><a href="payment-services.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/14.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Ecommerce</h4>
                        <nav class="btn-group ml-auto"><a href="shop/" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/13.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Business Solutions</h4>
                        <nav class="btn-group ml-auto"><a href="business-solutions.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/12.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center"><span class="is-new badge badge-danger badge-pill">New</span>
                        <h4 class="card-title mb-0 text-capitalize">App Landing</h4>
                        <nav class="btn-group ml-auto"><a href="app-landing-2.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/10.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center"><span class="is-new badge badge-danger badge-pill">New</span>
                        <h4 class="card-title mb-0 text-capitalize">Integration</h4>
                        <nav class="btn-group ml-auto"><a href="integration.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/11.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Corporate</h4>
                        <nav class="btn-group ml-auto"><a href="corporate.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/1.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Startup</h4>
                        <nav class="btn-group ml-auto"><a href="startup.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/2.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Saas</h4>
                        <nav class="btn-group ml-auto"><a href="saas.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/3.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Developer</h4>
                        <nav class="btn-group ml-auto"><a href="developers.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/4.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Payment</h4>
                        <nav class="btn-group ml-auto"><a href="online-payment.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/6.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Business</h4>
                        <nav class="btn-group ml-auto"><a href="smart-business.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/7.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Marketing</h4>
                        <nav class="btn-group ml-auto"><a href="automate-social.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/8.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">Social</h4>
                        <nav class="btn-group ml-auto"><a href="social.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/5.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-demo card--blog shadow-box border-0">
                    <div class="card-body d-flex align-items-center">
                        <h4 class="card-title mb-0 text-capitalize">App Landing</h4>
                        <nav class="btn-group ml-auto"><a href="app-landing.html" target="_blank" class="btn btn-warning btn-rounded px-3 shadow-none"><i class="icon fas fa-desktop"></i> <span class="demo-link-text">Demo</span></a></nav>
                    </div>
                    <figure class="preview-overlay m-0">
                        <div class="preview-pane">
                            <div class="preview-page" data-simplebar><img class="card-img-bottom img-responsive" src="img/demo/screen/9.png" alt=""></div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}