{% extends 'base.html' %} {% load static %} {% block content %}
<main class="overflow-hidden">
  <div class="container">
  </div>
  <!-- Integration Heading -->
  <!-- ./App Landing - page header -->
  <header class="section header text-contrast app-landing-header" style="z-index: 4;">
    <div class="shape-wrapper">
      <div
        class="shape shape-background shape-main gradient gradient-purple-navy"
      ></div>
      <div
        class="shape shape-background shape-top gradient gradient-navy-purple"
      ></div>
    </div>
    <div class="static-shape background-shape-main"></div>
    <div class="container overflow-hidden">
      <div class="row gap-y align-items-center">
        <div class="col-md-6 col-lg-6">
          <p class="lead d-flex align-items-center my-0">
            Need a Profecinal website?
          </p>
          <h1 class="bold text-contrast display-lg-2 font-lg mb-5">
            Introducing
            <span class="d-block light font-md">Best website billder In 2020</span>
          </h1>
          <p class="lead">
            Stand out online with a professional website, online store, or portfolio. With Squarespace, you can turn any idea into a reality.
          </p>
          <div class="nav mt-5 align-items-center">
            <a
              href="{% url 'buy-plan' %}"
              class="btn btn-rounded btn-lg btn-info shadow mr-3 px-4 text-capitalize"
              >Get Started - It's Free</a
            >
          </div>
        </div>
        <div class="col-md-6 col-lg-5 ml-lg-auto">
          <div data-aos="fade-left">
            <div class="iphone-x light front">
                <div class="screen shadow-box"><img src="{{ phone.phone_image.url }}" alt="..."></div>
            </div>
            <div class="absolute screen-highlight center-x w-100">
              <img
                src=""
                alt=""
                class="mx-auto shadow-lg rounded img-responsive"
                data-aos-delay="1000"
                data-aos="zoom-in"
              />
            </div>
          </div>
        
        </div>
        </div>
      </div>
    </div>
  </header>
  {% if messages %}
    {% for message in messages %}
    <div class="alert bg-contrast  alert-dismissible fade show alert-thin alert-{{ message.tags }}" style="z-index: 100;" role="alert"><i class="icon fas fa-check"></i>
                {{ message }}
            </div>
    {% endfor %}
  {% endif %}
  <!-- ./Partners -->
  <!-- ./How it works -->
  <section id="features" class="section bg-contrast edge top-left">
    <div class="container" style="z-index: 90;">
        <div class="section-heading mb-6 text-center">
            <h5 class="text-primary bold small text-uppercase">Reasons to use DashCore</h5>
            <h2>Know what you can do Online</h2>
        </div>
        <div class="row gap-y text-center text-md-left">
            <div class="col-md-4 py-4 rounded shadow-hover text-center">
                <div class="icon-shape mb-4"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 276.1 281.01" class="shape shape-xxl drop-shadow">
                        <defs>
                            <style>
                                .cls-1 {
                                    opacity: 0.8;
                                    fill: url(#linear-gradient);
                                }
                            </style>
                            <style>
                                .cls-1 {
                                    fill: #53f;
                                }
                            </style>
                            <linearGradient id="linear-gradient" y1="140.5" x2="276.1" y2="140.5" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#53f" />
                                <stop offset="1" stop-color="#05d5ff" />
                            </linearGradient>
                        </defs>
                        <title>Recurso 4</title>
                        <g id="layer_2" data-name="layer 2">
                            <g id="OBJECTS">
                                <path class="cls-1" d="M261.95,86.82a83.45,83.45,0,0,0-8.57-10.71l0,0s-50.84-57.89-137-73.9l0,0A92.94,92.94,0,0,0,5,77.21c-17.58,85.56,16.63,154.31,16.83,154.72a83.17,83.17,0,0,0,6.67,11.93c21.11,31.38,60.18,43.83,96.07,33.7,0,0,58.12-14.28,123.33-79h0C278.76,169,285.58,121.95,261.95,86.82Z" />
                            </g>
                        </g>
                    </svg> <i data-feather="credit-card" width="36" height="36" class="stroke-contrast icon center-xy"></i></div>
                <h5 class="bold text-capitalize">seamless payment</h5>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
            </div>
            <div class="col-md-4 py-4 rounded shadow-hover text-center">
                <div class="icon-shape mb-4"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 276.1 281.01" class="shape shape-xxl drop-shadow">
                        <defs>
                            <style>
                                .cls-1 {
                                    opacity: 0.8;
                                    fill: url(#linear-gradient);
                                }
                            </style>
                            <style>
                                .cls-1 {
                                    fill: #53f;
                                }
                            </style>
                            <linearGradient id="linear-gradient" y1="140.5" x2="276.1" y2="140.5" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#53f" />
                                <stop offset="1" stop-color="#05d5ff" />
                            </linearGradient>
                        </defs>
                        <title>Recurso 4</title>
                        <g id="layer_2" data-name="layer 2">
                            <g id="OBJECTS">
                                <path class="cls-1" d="M261.95,86.82a83.45,83.45,0,0,0-8.57-10.71l0,0s-50.84-57.89-137-73.9l0,0A92.94,92.94,0,0,0,5,77.21c-17.58,85.56,16.63,154.31,16.83,154.72a83.17,83.17,0,0,0,6.67,11.93c21.11,31.38,60.18,43.83,96.07,33.7,0,0,58.12-14.28,123.33-79h0C278.76,169,285.58,121.95,261.95,86.82Z" />
                            </g>
                        </g>
                    </svg> <i data-feather="pie-chart" width="36" height="36" class="stroke-contrast icon center-xy"></i></div>
                <h5 class="bold text-capitalize">insightfull analytics</h5>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
            </div>
            <div class="col-md-4 py-4 rounded shadow-hover text-center">
                <div class="icon-shape mb-4"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 276.1 281.01" class="shape shape-xxl drop-shadow">
                        <defs>
                            <style>
                                .cls-1 {
                                    opacity: 0.8;
                                    fill: url(#linear-gradient);
                                }
                            </style>
                            <style>
                                .cls-1 {
                                    fill: #53f;
                                }
                            </style>
                            <linearGradient id="linear-gradient" y1="140.5" x2="276.1" y2="140.5" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#53f" />
                                <stop offset="1" stop-color="#05d5ff" />
                            </linearGradient>
                        </defs>
                        <title>Recurso 4</title>
                        <g id="layer_2" data-name="layer 2">
                            <g id="OBJECTS">
                                <path class="cls-1" d="M261.95,86.82a83.45,83.45,0,0,0-8.57-10.71l0,0s-50.84-57.89-137-73.9l0,0A92.94,92.94,0,0,0,5,77.21c-17.58,85.56,16.63,154.31,16.83,154.72a83.17,83.17,0,0,0,6.67,11.93c21.11,31.38,60.18,43.83,96.07,33.7,0,0,58.12-14.28,123.33-79h0C278.76,169,285.58,121.95,261.95,86.82Z" />
                            </g>
                        </g>
                    </svg> <i data-feather="book" width="36" height="36" class="stroke-contrast icon center-xy"></i></div>
                <h5 class="bold text-capitalize">online wallet</h5>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
            </div>
        </div>
    </div>
</section><!-- Features -->
  <!-- <section class="section built-tech">
    <div class="container">
      <div class="shapes-container">
        <div class="shape shape-circle" data-aos="fade-up">
          <div></div>
        </div>
      </div>
      <div class="row gap-y">
        <div class="col-md-6 col-lg-7">
          <div class="card shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8 b-md-r">
                  <span class="badge badge-primary badge-pill bold px-4 py-2"
                    >Better tech</span
                  >
                  <h2 class="mt-3">
                    <span class="bold">Industry leading</span> technology stack
                  </h2>
                  <p class="text-muted">
                    Noterio tech stack gives you everything your business needs
                    to build robust WebApp
                  </p>
                  <figure class="">
                    <img
                      src="{% static 'img/logos/webpack.svg' %}"
                      class="img-responsive mx-auto"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-around">
                  <div class="text-center">
                    <figure class="mockup">
                      <img
                        src="{% static 'img/logos/javascript.svg' %}"
                        alt=""
                      />
                    </figure>
                  </div>
                  <div class="text-center">
                    <figure class="mockup">
                      <img src="{% static 'img/logos/es6.svg' %}" alt="" />
                    </figure>
                  </div>
                  <div class="text-center">
                    <figure class="mockup">
                      <img
                        src="{% static 'img/logos/node-sass.svg' %}"
                        alt=""
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="shapes-container">
            <div class="shape shape-ring shape-ring-1" data-aos="fade-up">
              <div></div>
            </div>
          </div>
          <div class="section-heading">
            <figure class="mockup ml-0">
              <img src="{% static 'img/integration/tech-globe.svg' %}" alt="" />
            </figure>
            <h2 class="my-3 font-md">
              <span class="bold">A complete technology stack</span> awaits for
              you
            </h2>
            <p class="text-muted">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
              blanditiis pariatur excepturi provident molestias, ea non!
              Nesciunt impedit quo blanditiis.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="media pb-3">
                <div
                  class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
                >
                  <i data-feather="activity" class="stroke-primary"></i>
                </div>
                <div class="media-body">
                  <h5>Activity</h5>
                  <p>Get instant insight</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media pb-3">
                <div
                  class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
                >
                  <i data-feather="upload-cloud" class="stroke-primary"></i>
                </div>
                <div class="media-body">
                  <h5>Deploy</h5>
                  <p>Deploy your project</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media pb-3">
                <div
                  class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
                >
                  <i data-feather="zap" class="stroke-primary"></i>
                </div>
                <div class="media-body">
                  <h5>Fast</h5>
                  <p>Development lighting fast</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media pb-3">
                <div
                  class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
                >
                  <i data-feather="hexagon" class="stroke-primary"></i>
                </div>
                <div class="media-body">
                  <h5>Technology</h5>
                  <p>Ultimate technology</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Extend Core -->

  <section class="section overflow-hidden">
    <div class="container bring-to-front">
        <div class="row gap-y align-items-center">
            <div class="col-md-6 col-lg-5 mr-lg-auto">
                <div class="center-xy op-1">
                    <div style="z-index: 95;" class="shape shape-background rounded-circle shadow-lg bg-info" style="width: 600px; height: 600px;" data-aos="zoom-in"></div>
                </div>
                <div class="device-twin align-items-center">
                    <div class="mockup absolute" data-aos="fade-left">
                        <div class="screen"><img src="{{ phone.phone_image.url }}" alt="..."></div><span class="button"></span>
                    </div>
                    <div class="iphone-x light front">
                        <div class="screen shadow-box"><img src="{{ phone.phone_image.url }}" alt="..."></div>
                        <!-- <div class="notch"></div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="section-heading"><i class="far fa-check-circle fa-2x text-danger mb-3"></i>
                    <h2 class="bold font-md">We have a ton of benefits</h2>
                    <p>DashCore will maximize your time and money</p>
                </div>
                <div class="row gap-y">
                    <div class="col-md-6">
                        <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i data-feather="code" width="36" height="36" class="mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Development</h5>
                                <p class="m-0 d-md-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i data-feather="star" width="36" height="36" class="mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Web Design</h5>
                                <p class="m-0 d-md-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i data-feather="wind" width="36" height="36" class="mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Do Magic</h5>
                                <p class="m-0 d-md-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media flex-column flex-lg-row align-items-center align-items-md-start"><i data-feather="clock" width="36" height="36" class="mx-auto ml-md-0 mr-md-3 stroke-primary"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Save Time</h5>
                                <p class="m-0 d-md-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Path to success -->
<section class="section bg-light">
  <div class="container bring-to-front">
      <div class="row gap-y align-items-center">
          <div class="col-md-6">
              <div class="rounded bg-primary-gradient shadow">
                  <div class="d-flex flex-column align-items-center py-3"><img src="{% static 'img/bg/asset-1.svg' %}" class="img-responsive w-50" alt=""></div>
              </div>
              <div class="rounded shadow-box bg-contrast mt-3">
                  <div class="media align-items-center px-3"><i data-feather="bar-chart" class="stroke-primary mr-3" width="36" height="36"></i>
                      <div class="media-body my-3 pl-3 b-l">
                          <p class="bold text-primary my-0">Admin template included</p>
                          <p class="my-0 text-secondary">We've included a fully functional starter admin dashboard</p>
                      </div>
                  </div>
              </div>
              <div class="rounded shadow-box bg-contrast mt-3">
                  <div class="media align-items-center px-3"><i data-feather="smartphone" width="36" height="36" class="stroke-primary mr-3"></i>
                      <div class="media-body my-3 pl-3 b-l">
                          <p class="bold text-primary my-0">Powered with multiple starter apps</p>
                          <p class="my-0 text-secondary">It's awesome you to have a nice feature to show up</p>
                          <hr class="my-3">
                          <nav id="sw-nav-1" class="nav nav-tabs tabs-clean border-bottom-0"><a href="javascript:;" class="nav-item nav-link pl-md-0 py-0 d-flex flex-column align-items-center border-bottom-0 active" data-step="1"><i data-feather="mail" class="icon"></i> <span class="d-none small">Inbox</span> </a><a href="javascript:;" class="nav-item nav-link py-0 d-flex flex-column align-items-center border-bottom-0" data-step="2"><i data-feather="calendar" class="icon"></i> <span class="d-none small">Calendar</span> </a><a href="javascript:;" class="nav-item nav-link py-0 d-flex flex-column align-items-center border-bottom-0" data-step="3"><i data-feather="file" class="icon"></i> <span class="d-none small">Invoice</span></a></nav>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 ml-md-auto text-center text-md-left"><span class="rounded-pill shadow-box badge badge-info bold py-2 px-4">Simple and transparent</span>
              <h2 class="mt-3">Bring your application to life</h2>
              <p class="text-secondary">Dashcore includes an outstanding starter Admin Dashboard UI Interface. With this feature you can start developing right away your web application.</p>
              <hr>
              <div class="swiper-container" data-sw-navigation="#sw-nav-1" data-sw-navigation-active="active">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <figure class="shadow-box"><img src="{% static 'img/screens/dash/inbox.png' %}" alt="" class="img-responsive rounded"></figure>
                          <p class="small text-center text-danger">Clean inbox UI design</p>
                      </div>
                      <div class="swiper-slide">
                          <figure class="shadow-box"><img src="{% static 'img/screens/dash/calendar.png' %}" alt="" class="img-responsive rounded"></figure>
                          <p class="small text-center text-danger">Outstanding calendar UI design</p>
                      </div>
                      <div class="swiper-slide">
                          <figure class="shadow-box"><img src="{% static 'img/screens/dash/invoice.png' %}" alt="" class="img-responsive rounded"></figure>
                          <p class="small text-center text-danger">Draft purchases with the invoice feature</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- ./Developers - Code snippets -->
  <!-- <section class="section bg-light edge top-left">
            <div class="container bring-to-front">
                <div class="row gap-y">
                    <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="{% static 'img/logos/1.png' %}" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                    <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="{% static 'img/logos/2.png' %}" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                    <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="{% static 'img/logos/3.png' %}" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                    <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="{% static 'img/logos/4.png' %}" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                </div>
            </div>
        </section> -->

  <section class="section extending-core border-top bg-light edge bottom-right" >
    <div class="shapes-container">
      <div class="shape shape-circle">
        <div></div>
      </div>
    </div>
    <div class="container pb-9">
      <div class="row gap-y align-items-center">
        <div class="col-lg-6">
          <div class="section-heading" style="z-index: 4;">
            <p class="text-primary bold small text-uppercase">
              enterprise plan
            </p>
            <h2>Extend Noterio</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi ipsum iste iure nihil non obcaecati quasi, sit? Aperiam
              asperiores atque, commodi debitis fugiat in nemo optio sint velit.
              Pariatur, sint!
            </p>
          </div>
          <a href="#" class="btn btn-rounded btn-outline-primary bw-2 mr-3"
            >Know More</a
          >
          <a
            href="#"
            class="btn btn-rounded btn-primary bw-2 bold text-contrast"
            >Register Account</a
          >
        </div>
        <div class="col-lg-6" style="z-index: 300;">
          <div class="icons-wrapper position-relative">
            <div
              class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 100%; top: 30%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/blossom.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 60%; top: -10%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/dockbit.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 25%; top: 0%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/zapier.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-2xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 0%; top: 50%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/bitnami.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-2xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 23%; top: 70%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/slack.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 65%; top: 44%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/monero.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
            <div
              class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
              style="left: 95%; top: 83%;"
              data-aos="fade-left"
            >
              <img
                src="{% static 'img/integration/dropbox.svg' %}"
                class="img-responsive"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section slider-testimonials bg-light">
    <div class="container bring-to-front">
      <div class="section-heading text-center">
        <h2>Our customers have something to say</h2>
        <p class="lead text-muted">
          They are the best, our customer want to let you know how Noterio is
          helping them to achieve their goals and how simple is to use it
        </p>
      </div>
      <div class="card shadow-lg">
        <div class="row no-gutters">
          <div class="col-md-6">
            <!-- Images slider, will fade -->
            <div
              class="swiper-container h-100"
              data-sw-effect="fade"
              data-sw-space-between="0"
            >
              <div class="swiper-wrapper">
                <!-- if images -->
                <!-- {% for img in images %} -->
                <div class="swiper-slide">
                  <figure
                    class="m-0 image-background cover"
                    style="background-image: url({% static 'img/testimonials/3.jpg' %});"
                  >
                    <img
                      src="{% static 'img/testimonials/3.jpg"
                      alt="..."
                      class="img--responsive invisible"
                    />
                  </figure>
                </div>
                <!-- {% endfor %} -->
                <!-- endif -->
              </div>
              <div class="divider">
                <div></div>
              </div>
            </div>
            <!-- Prev button -->
            <div class="swiper-button swiper-button-prev shadow">
              <i data-feather="arrow-left"></i>
            </div>
          </div>

          <div class="col-md-6">
            <!-- Testimonials slider, will slide -->
            <div class="swiper-container h-100">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div
                    class="card-body h-100 d-flex flex-column justify-content-center"
                  >
                    <blockquote class="blockquote text-center mb-0">
                      <figure class="mockup mb-5">
                        <img
                          src="{% static 'img/logos/companies/1.svg' %}"
                          alt="..."
                          class="img-responsive"
                        />
                      </figure>
                      <p class="mb-5 mb-md-6">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Atque, quas sunt enim tempore minima tenetur
                        voluptatem provident. Incidunt accusantium.
                      </p>
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Jane Doe</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="card-body h-100 d-flex flex-column justify-content-center"
                  >
                    <blockquote class="blockquote text-center mb-0">
                      <figure class="mockup mb-5">
                        <img
                          src="{% static 'img/logos/companies/2.svg' %}"
                          alt="..."
                          class="img-responsive"
                        />
                      </figure>
                      <p class="mb-5 mb-md-6">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quo harum eaque voluptatibus est obcaecati
                        exercitationem maxime illo nihil voluptatem.
                      </p>
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">John Doe</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="card-body h-100 d-flex flex-column justify-content-center"
                  >
                    <blockquote class="blockquote text-center mb-0">
                      <figure class="mockup mb-5">
                        <img
                          src="{% static 'img/logos/companies/1.svg' %}"
                          alt="..."
                          class="img-responsive"
                        />
                      </figure>
                      <p class="mb-5 mb-md-6">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Atque, quas sunt enim tempore minima tenetur
                        voluptatem provident. Incidunt accusantium.
                      </p>
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Mauro</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="card-body h-100 d-flex flex-column justify-content-center"
                  >
                    <blockquote class="blockquote text-center mb-0">
                      <figure class="mockup mb-5">
                        <img
                          src="{% static 'img/logos/companies/2.svg' %}"
                          alt="..."
                          class="img-responsive"
                        />
                      </figure>
                      <p class="mb-5 mb-md-6">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quo harum eaque voluptatibus est obcaecati
                        exercitationem maxime illo nihil voluptatem.
                      </p>
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">5studios team</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- Next button -->
            <div class="swiper-button swiper-button-next shadow">
              <i data-feather="arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./CTA - Create Account -->
  <section class="section bg-contrast edge top-left">
    <div class="container pt-5">
      <div class="d-flex align-items-center flex-column flex-md-row">
        <div class="text-center text-md-left">
          <p class="light mb-0 text-primary lead">Ready to get started?</p>
          <h2 class="mt-0">Create an account now</h2>
        </div>
        <a
          href="{% url 'account_signup' %}"
          class="btn btn-primary btn-rounded mt-3 mt-md-0 ml-md-auto"
          >Create Noterio account</a
        >
      </div>
    </div>
  </section>
  <!-- ./Footer - Simple -->

  {% endblock %}
</main>
