{% extends 'base-5(buy).html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">Payment</h4>
                                            <div class="nk-block-des">
                                                <p>enter your account details here!!. <span class="text-soft"><em class="icon ni ni-info"></em></span></p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content align-self-start d-lg-none">
                                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block card">
                                    <div class="nk-content ">
                                        <div class="container wide-xl">
                                            <div class="nk-content-inner">
                                                <div class="nk-content-body">
                                                    <div class="nk-content-wrap">
                                                        <div class="nk-block-head nk-block-head-lg">
                                                            <div class="nk-block-between-md g-4">
                                                                <div class="nk-block-head-content">
                                                                    <h2 class="nk-block-title fw-normal">{{ billing.plan }} Plan</h2>
                                                                </div>
                                                            
                                                            </div>
                                                        </div><!-- .nk-block-head -->
                                                        <div class="row">
                                                            <div class="col-xl-8">
                                                                <div class="card card-bordered">
                                                                    <div class="card-inner-group">
                                                                        <div class="card-inner">
                                                                            <div class="sp-plan-head">
                                                                                <h6 class="title">Plan Details</h6>
                                                                            </div>
                                                                            <div class="sp-plan-desc sp-plan-desc-mb">
                                                                                <ul class="row gx-1">
                                                                                    <li class="col-sm-4">
                                                                                        <p><span class="text-soft">Price</span> R {{ billing.ammount }} /{% if billing.billed_monthly %}Month{% else %}Year{% endif %}</p>
                                                                                    </li>
                                                                                    <!-- <li class="col-sm-4">
                                                                                        <p><span class="text-soft">Access</span> Unlimited</p>
                                                                                    </li> -->
                                                                                </ul>
                                                                            </div>
                                                                        </div><!-- .card-inner -->
                                                                        <div class="card-inner">
                                                                            <div class="sp-plan-payopt">
                                                                                <div class="cc-pay">
                                                                                    <h6 class="title">Pay With</h6>
                                                                                    <ul class="cc-pay-method">
                                                                                        <li class="cc-pay-dd dropdown">
                                                                                                {% include 'payment/payment.html' %}
                                                                                            <div class="dropdown-menu dropdown-menu-auto">
                                                                                                
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- .card-inner -->
                                                                    </div><!-- .card-inner-group -->
                                                                </div><!-- .card -->
                                                            </div><!-- .col -->
                                                        </div>
                                                        
                                                            
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div><!-- .nk-block-head -->
                            </div><!-- .card-inner -->
                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="card-inner-group">
                                    <div class="card-inner p-0">
                                        <ul class="link-list-menu">
                                            <li><a  href="{% url 'buy-plan' %}"><em class="icon ni ni-shield-star-fill"></em><span>Plan</span></a></li>
                                            <li><a href="{% url 'buy-request' %}"><em class="icon ni ni-file-text"></em><span>Request</span></a></li>
                                            <li><a href="{% url 'billon-info' %}"><em class="icon ni ni-cc-alt-fill"></em><span>Billing Info</span></a></li>
                                            <li><a class="active"  href="{% url 'buy-payment' %}"><em class="icon ni ni-cc-alt-fill"></em><span>Payment</span></a></li>
                                        </ul>
                                    </div><!-- .card-inner -->
                                </div><!-- .card-inner-group -->
                            </div><!-- card-aside -->
                        </div><!-- card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
{% endblock %}