<!-- @@Modal - Subscription Cancle @s -->
<div class="modal fade" tabindex="-1" id="subscription-cancel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="nk-modal-title title">Cancel Your Subscription</h4>
                <p><strong>Are you sure you want to cancel your subscription?</strong></p>
                <p>If you cancel, you'll lose your all access to your website. But you can re-subscription your plan any time.</p>
                <form action="{% url 'cancel-subscription' %}" method="POST">
                    {% csrf_token %}
                 
                    <ul class="align-center flex-wrap g-3">
                        <li>
                            <button class="btn btn-primary" type="submit">Cancel Subscription</button>
                        </li>
                        <li>
                            <a href="#" class="btn btn-light" data-dismiss="modal">Never mind, don't cancel</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->