{% extends 'base(dashboard).html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <div class="nk-block-head-sub"><span>Account Setting</span></div>
                <h2 class="nk-block-title fw-normal">My Profile</h2>
                <div class="nk-block-des">
                    <p>You have full control to manage your own account setting. <span class="text-primary"><em class="icon ni ni-info"></em></span></p>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <ul class="nk-nav nav nav-tabs">
            {% include 'dashboard/links/_dashboard-links.html' %}
        </ul><!-- nav-tabs -->
        <div class="nk-block">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Current Subscription</h5>
                    <div class="nk-block-des">
                        <p>Details about your current subscription and billing information.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            {% if billing %}
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>{{ billing.plan }} Plan - <span class="text-base">{% if billing.billed_monthly %}R {{ billing.get_monthly_ammount }} / Monthly{% else %}R {{ billing.ammount }} / Yearly {% endif %}</span></h6>
                                <p class="text-soft">Unlimited access with priority support, 99.95% uptime, powerfull features and more...</p>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">Change Plan</button>
                        </div>
                    </div><!-- .nk-card-inner -->
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <p>Learn more about our <a href="#">subscription options</a>.</p>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li>
                                        <div class="custom-control custom-control-right custom-switch">
                                            <form action="{% url 'auto-renew-toggel' %}">
                                                {% csrf_token %}
                                                {{ auto_form|crispy }}
                                            </form>    
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-card-inner -->
                </div>
            </div><!-- .card -->
            <!--  Another Sub Section -->
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Billing Cycle</h5>
                    <div class="nk-block-des">
                        <p>Your subscription renews on {% if billing.billed_monthly %}{{ billing.get_next_billing }}{% else %}{{ billing.get_next_billing_yearly }}{% endif %} <span class="fs-13px text-soft">({{ billing.get_day }} remaining).</span></p>
                    </div>
                </div>
            </div><!-- Nk-Block-head -->
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>Yearly Subscription</h6>
                                <ul class="list-inline list-col2 text-soft">
                                    <li>Next payment: <strong class="text-base">R {{ billing.ammount }}</strong> on <strong class="text-base">{% if billing.billed_monthly %}{{ billing.get_next_billing }}{% else %}{{ billing.get_next_billing_yearly }}{% endif %}</strong></li>
                                    <li>Last payment made: Jan 28, 2019</li>
                                </ul>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li class="order-md-last">
                                        <a href="#" data-toggle="modal" data-target="#SwitchBillingCycle" class="link link-primary">Switch Billing Cycle</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-card-inner -->
                </div>
            </div><!-- .card -->
            <!--  Another Sub Section -->
            {% endif %}
            {% include 'buy/part/buying/_change-plan.html' %}
        </div><!-- .nk-block -->
    </div>
</div>
{% endblock %}