{% extends 'base-3(dashboard).html' %}
{% load static %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-sub"><span>FAQs</span></div>
            <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Frequently Ask Questions</h2>
                    <div class="nk-block-des">
                        <p>Here are some question and you can find your answer.</p>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        {% if faqs %}
        {% for fc in faqscategory %}
        <div class="nk-block">
            <h5 class="title text-primary">{{ fc.category }}</h5>
            <p>You can find general answer here.</p>
            {% for f in faqs %}
            <div id="faq-gq" class="accordion">
                <div class="accordion-item">
                    <a href="#" class="accordion-head" data-toggle="collapse" data-target="#faq-gq-{{ f.id }}">
                        <h6 class="title">{{ f.title }}</h6>
                        <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse show" id="faq-gq-{{ f.id }}" data-parent="#faq-gq">
                        <div class="accordion-inner">
                            <p>{{ f.text | safe }}</p>
                        </div>
                    </div>
                </div><!-- .accordion-item -->
            </div><!-- .accordion -->
            {% endfor %}
        </div><!-- .nk-block -->
        {% endfor %}
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered border-primary">
                <div class="card-inner">
                    <div class="nk-cta">
                        <div class="nk-cta-block">
                            <div class="nk-cta-img">
                                <em class="icon icon-circle ni ni-msg"></em>
                            </div>
                            <div class="nk-cta-text">
                                <p>If you don’t find your question please contact our support team.</p>
                            </div>
                        </div>
                        <div class="nk-cta-action">
                            <a href="{% url 'contact' %}" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
        {% else %}
        <div class="nk-block nk-block-lg">
            <h5 class="title text-primary">NO FAQ's</h5>
        </div><!-- .nk-block -->
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered border-primary">
                <div class="card-inner">
                    <div class="nk-cta">
                        <div class="nk-cta-block">
                            <div class="nk-cta-img">
                                <em class="icon icon-circle ni ni-msg"></em>
                            </div>
                            <div class="nk-cta-text">
                                <p>If you don’t find your question please contact our support team.</p>
                            </div>
                        </div>
                        <div class="nk-cta-action">
                            <a href="html/subscription/contact.html" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
        {% endif %}
    </div>
</div>
{% endblock %}