{% extends 'base-3(dashboard).html' %}
{% load static %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-sub"><span>Account Billing</span></div>
            <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Payment History</h2>
                    <div class="nk-block-des">
                        <p>Here is your payment history of account.</p>
                    </div>
                </div>
                <div class="nk-block-head-content">
                    <ul class="nk-block-tools gx-3">
                        <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span><span class="d-none d-sm-inline-block">Get</span> Statement</span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="card card-bordered">
                <table class="table table-tranx table-billing">
                    <thead>
                        <tr class="tb-tnx-head">
                            <th class="tb-tnx-id"><span class="">#</span></th>
                            <th class="tb-tnx-info">
                                <span class="tb-tnx-desc d-none d-sm-inline-block">
                                    <span>Bill For</span>
                                </span>
                                <span class="tb-tnx-date d-md-inline-block d-none">
                                    <span class="d-md-none">Date</span>
                                    <span class="d-none d-md-block">
                                        <span>Issue Date</span>
                                        <span>Due Date</span>
                                    </span>
                                </span>
                            </th>
                            <th class="tb-tnx-amount">
                                <span class="tb-tnx-total">Total</span>
                                <span class="tb-tnx-status d-none d-md-inline-block">Status</span>
                            </th>
                        </tr><!-- .tb-tnx-head -->
                    </thead>
                    <tbody>
                        {% if transaction %}
                        {% for t in transaction %}
                        <tr class="tb-tnx-item">
                            <td class="tb-tnx-id">
                                <a href="#"><span>{{ t.billing_id }}</span></a>
                            </td>
                            <td class="tb-tnx-info">
                                <div class="tb-tnx-desc">
                                    <span class="title">{{ t.user }}</span>
                                </div>
                                <div class="tb-tnx-date">
                                    <span class="date">{{ t.timestamp|date:'m-d-Y' }}</span>
                                    <span class="date">{{ t.get_expaitry_day|date:'m-d-Y' }}</span>
                                </div>
                            </td>
                            <td class="tb-tnx-amount">
                                <div class="tb-tnx-total">
                                    <span class="amount">R {{ t.amount }}</span>
                                </div>
                                <div class="tb-tnx-status">
                                    <span class="badge badge-dot badge-{% if t.success %}success{% else %}Danger{% endif %}">{% if t.success %}Complet{% else %}Canceld{% endif %}</span>
                                </div>
                            </td>
                        </tr><!-- .tb-tnx-item -->
                        {% endfor %}
                        {% else %}
                        <tr class="tb-tnx-item">
                            <p>No Hestory</p>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div><!-- .nk-block -->
    </div>
</div>
{% endblock %}