{% extends 'base(dashboard).html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <div class="nk-block-head-sub"><span>Account Setting</span></div>
                <h2 class="nk-block-title fw-normal">My Profile</h2>
                <div class="nk-block-des">
                    <p>You have full control to manage your own account setting. <span class="text-primary"><em class="icon ni ni-info"></em></span></p>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <ul class="nk-nav nav nav-tabs">
            {% include 'dashboard/links/_dashboard-links.html' %}
        </ul><!-- nav-tabs -->
        <div class="nk-block">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Personal Information</h5>
                    <div class="nk-block-des">
                        <p>Basic info, like your name and address, that you use on Nio Platform.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <div class="card card-bordered">
                <div class="nk-data data-list">
                    <div class="data-item" data-toggle="modal" data-target="#usernameform">
                        <div class="data-col">
                            <span class="data-label">Full Names</span>
                            {% if user.first_name %}
                            <span class="data-value">{{ user.first_name }} {{ user.last_name }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#User_usernameform">
                        <div class="data-col">
                            <span class="data-label">User Name</span>
                            {% if user.username %}
                            <span class="data-value">{{ user.username }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Email</span>
                            {% if user.email %}
                            <span class="data-value">{{ user.email }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#UserPhoneForm">
                        <div class="data-col">
                            <span class="data-label">Phone Number</span>
                            {% if user.phone %}
                            <span class="data-value text-soft">{{ user.phone }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#UserDateOfBirthForm">
                        <div class="data-col">
                            <span class="data-label">Date of Birth</span>
                            {% if user.date_of_birth %}
                            <span class="data-value">{{ user.date_of_birth }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#UserAddreseForm">
                        <div class="data-col">
                            <span class="data-label">Address</span>
                            {% if user.address_line_1 or user.address_line_1 or user.city or user.province_or_sate %}
                            <span class="data-value">{{ user.addres_line_1 }},{{ user.addres_line_2 }},<br>{{ user.city }}, {{ user.province_or_sate }}</span>
                            {% else %}
                            <span class="data-value">Not add yet</span>
                            {% endif %}
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                </div><!-- .nk-data -->
            </div><!-- .card -->
            <!-- Another Section -->
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Personal Preferences</h5>
                    <div class="nk-block-des">
                        <p>Your personalized preference allows you best use.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <div class="card card-bordered">
                <div class="nk-data data-list">
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Language</span>
                            <span class="data-value">English (United State)</span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary">Change Language</a></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Date Format</span>
                            <span class="data-value">M d, YYYY</span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary">Change</a></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Timezone</span>
                            <span class="data-value">Bangladesh (GMT +6)</span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary">Change</a></div>
                    </div><!-- .data-item -->
                </div><!-- .nk-data -->
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
    <!-- footer @e -->
</div>
<!-- @@ Profile Edit Modal @e -->
{% include 'dashboard/modals/personal_info/_user.html' %}
{% endblock %}