{% extends 'base(dashboard).html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <div class="nk-block-head-sub"><span>Account Setting</span></div>
                <h2 class="nk-block-title fw-normal">My Profile</h2>
                <div class="nk-block-des">
                    <p>You have full control to manage your own account setting. <span class="text-primary"><em class="icon ni ni-info"></em></span></p>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <ul class="nk-nav nav nav-tabs">
            {% include 'dashboard/links/_dashboard-links.html' %}
        </ul><!-- nav-tabs -->
        <div class="nk-block">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title title">Security Settings</h5>
                    <div class="nk-block-des">
                        <p>These settings are helps you keep your account secure.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>Save my Activity Logs</h6>
                                <p>You can save your all activity logs including unusual activity detected.</p>
                            </div>
                            <div class="nk-block-actions">
                                <ul class="align-center gx-3">
                                    <li class="order-md-last">
                                        <div class="custom-control custom-switch mr-n2">
                                            <input type="checkbox" class="custom-control-input" checked="" id="activity-log">
                                            <label class="custom-control-label" for="activity-log"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-card-inner -->
                    <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>Change Password</h6>
                                <p>Set a unique password to protect your account.</p>
                            </div>
                            <div class="nk-block-actions flex-shrink-sm-0">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-3 gy-2">
                                    <li class="preview-item order-md-last">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">Change Password</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-card-inner -->
                    <!-- <div class="card-inner">
                        <div class="between-center flex-wrap flex-md-nowrap g-3">
                            <div class="nk-block-text">
                                <h6>2FA Authentication <span class="badge badge-success">Enabled</span></h6>
                                <p>Secure your account with 2FA security. When it is activated you will need to enter not only your password, but also a special code using app. You can receive this code by in mobile app. </p>
                            </div>
                            <div class="nk-block-actions">
                                <a href="#" class="btn btn-primary">Disable</a>
                            </div>
                        </div>
                    </div>.nk-card-inner -->
                </div><!-- .nk-card-inner-group -->
            </div><!-- .nk-card -->
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" method="POST" class="form-validate is-alter">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form | crispy }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Change Password</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}