{% extends 'base(dashboard).html' %}
{% load static %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-sub"><span>Manage Subscription</span></div>
            <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">My Subscriptions</h2>
                    <div class="nk-block-des">
                        <p>Here is list of package/product that you have subscribed. <span class="text-primary"><em class="icon ni ni-info"></em></span></p>
                    </div>
                </div>
                <div class="nk-block-head-content">
                    <ul class="nk-block-tools gx-3">
                        <li class="order-md-last"><a href="{% url 'pricing' %}" class="btn btn-white btn-dim btn-outline-primary"><span>View Pricing</span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        {% if  billing %}
            {% for b in billing %}
                    {% if b.billed_monthly %}
                    <!-- this is a billed monthly block -->
                    <div class="nk-block">
                        <div class="card card-bordered sp-plan">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="sp-plan-info card-inner">
                                        <div class="row gx-0 gy-3">
                                            <div class="col-xl-9 col-sm-8">
                                                <div class="sp-plan-name">
                                                    <h6 class="title"><a href="{% url 'subscriptions-detail' id=b.id %}">{{ b.plan.plan }} Plan <span class="badge badge-{% if b.is_active %}success{% else %}light{% endif %} badge-pill">{% if b.is_active %}Active{% else %}Expird{% endif %}</span></a></h6>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4">
                                                <div class="sp-plan-opt">
                                                        <div class="custom-control custom-switch">
                                                            <a class="custom-control-label text-soft" for="auto-plan-p1" href="{% url 'auto-renew-toggel' %}">Auto Renew</a>                                                            
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .sp-plan-info -->
                                    <div class="sp-plan-desc card-inner">
                                        <ul class="row gx-1">
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Started On</span> {{ b.staterd }}</p>
                                            </li>
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Recuring</span> Yes</p>
                                            </li>
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Price</span> R{{ b.ammount }}.00/Month</p>
                                            </li>
                                        </ul>
                                    </div><!-- .sp-plan-desc -->
                                </div><!-- .col -->
                                {% if b.is_active %}
                                <div class="col-md-4">
                                    <div class="sp-plan-action card-inner">
                                        <div class="sp-plan-btn pt-3">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">Change Plan</button>                
                                        </div>
                                        <div class="sp-plan-note text-md-center">
                                            <p>{% if b.free_trial %}Your Free Trial End's{% else %}Next Billing{% endif %} on <span>{{ b.get_next_billing }}</span></p>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                {% else %}
                                <div class="col-md-4">
                                    <div class="sp-plan-action card-inner">
                                        <div class="sp-plan-btn pt-3">
                                            <a href="{% url 'rewnew_billing' id=b.id %}" class="btn btn-dim btn-white btn-outline-primary"><span>Renew Plan</span></a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div><!-- .row -->
                        </div><!-- .sp-plan -->
                     
                    </div><!-- .nk-block -->
                    {% else %}
                    <!-- this is a billed yearly block -->
                    <div class="nk-block">
                        <div class="card card-bordered sp-plan">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="sp-plan-info card-inner">
                                        <div class="row gx-0 gy-3">
                                            <div class="col-xl-9 col-sm-8">
                                                <div class="sp-plan-name">
                                                    <h6 class="title"><a href="{% url 'subscriptions-detail' id=b.id %}">{{ b.plan.plan }} Plan <span class="badge badge-{% if b.is_active %}success{% else %}light{% endif %} badge-pill">{% if b.is_active %}Active{% else %}Expird{% endif %}</span></a></h6>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4">
                                                <div class="sp-plan-opt">
                                                    <div class="custom-control custom-switch">
                                                        <form action="{% url 'auto-renew-toggel' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="submit" class="custom-control-input" id="auto-plan-p1" checked>
                                                            <label class="custom-control-label text-soft" for="auto-plan-p1">Auto Renew</label>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .sp-plan-info -->
                                    <div class="sp-plan-desc card-inner">
                                        <ul class="row gx-1">
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Started On</span> {{ b.staterd }}</p>
                                            </li>
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Recuring</span> Yes</p>
                                            </li>
                                            <li class="col-6 col-lg-3">
                                                <p><span class="text-soft">Price</span> R{{ b.ammount }}.00/Year</p>
                                            </li>
                                        </ul>
                                    </div><!-- .sp-plan-desc -->
                                </div><!-- .col -->
                                {% if b.is_active %}
                                <div class="col-md-4">
                                    <div class="sp-plan-action card-inner">
                                        <div class="sp-plan-btn pt-3">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">Change Plan</button>                                        </div>
                                        <!-- <div class="sp-plan-note text-md-center">
                                            <p>{% if b.free_trial %}your Free Trial{% else %}Next Billing{% endif %} on <span>{{ b.get_next_billing }}</span></p>
                                        </div> -->
                                    </div>
                                </div><!-- .col -->
                                {% else %}
                                <div class="col-md-4">
                                    <div class="sp-plan-action card-inner">
                                        <div class="sp-plan-btn pt-3">
                                            <a href="{% url 'rewnew_billing' id=b.id %}" class="btn btn-dim btn-white btn-outline-primary"><span>Renew Plan</span></a>
                                        </div>
                                        <div class="card-inner card-inner-md bg-light">
                                            <div class="card-note">
                                                <em class="icon ni ni-info-fill"></em>
                                                <span>Traffic channels have beed generating the most traffics over past days.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div><!-- .row -->
                        </div><!-- .sp-plan -->
                    </div><!-- .nk-block -->
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% include 'buy/part/buying/_change-plan.html' %}
 <!-- @@Modal - Subscription Change @s -->

<!-- @@Modal - Confirm Plan @s -->

<!-- @@Modal - Subscription Cancle @s -->

<!-- @@Modal - Subscription Cancle Confirmed @s -->

{% endblock %}