{% extends 'base-3(dashboard).html' %}
{% load static %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head wide-md nk-block-head-lg">
            <div class="nk-block-head-sub"><span>Supports</span></div>
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Hi! How can we help?</h2>
                <p>If you have any problem have a look in our knowledge base support.</p>
                <div class="nk-search-box">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" class="form-control form-control-lg" placeholder="Search...">
                            <button class="form-icon form-icon-right">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="nk-block-des">

<ul class="list-inline">
<li><a href="html/subscription/index.html">Home</a></li>
<li><a href="html/subscription/tickets.html">Tickets</a></li>
<li><a href="#">Terms & Policy</a></li>
</ul>
</div> -->
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            {% if category %}
                {% for c in category %}
                    <div class="support-topic-item card card-bordered">
                        <a class="support-topic-block card-inner" href="{% url 'article:article_list' article_slug=c.category.slug %}">
                            <div class="support-topic-context">
                                <h5 class="support-topic-title title">{{ c.title }}</h5>
                                <div class="support-topic-info">{{ c.sub_title }}.</div>
                                <div class="support-topic-count">Here are  questions and answers.</div>
                            </div>
                            <div class="support-topic-action">
                                <em class="icon ni ni-chevron-right"></em>
                            </div>
                        </a>
                    </div><!-- .support-topic-item -->
                {% endfor %}
            {% endif %}
        </div><!-- .nk-block -->
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered border-primary">
                <div class="card-inner">
                    <div class="nk-cta">
                        <div class="nk-cta-block">
                            <div class="nk-cta-img">
                                <em class="icon icon-circle ni ni-msg"></em>
                            </div>
                            <div class="nk-cta-text">
                                <p>If you don’t find your question please contact our support team.</p>
                            </div>
                        </div>
                        <div class="nk-cta-action">
                            <a href="html/subscription/contact.html" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>
{% endblock %}