{% extends 'base(dashboard).html' %}
{% load static %}
{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head wide-md nk-block-head-lg">
            <div class="nk-block-head-sub"><span>Supports</span></div>
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Hi! How can we help?</h2>
                <p>If you have any problem have a look in our knowledge base support.</p>
                <div class="nk-search-box">
                    <form action="{% url 'article:search' %}" method="GET">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <input name="q" type="text" class="form-control form-control-lg" placeholder="Search...">
                                <button class="form-icon form-icon-right" type="submit">
                                    <em class="icon ni ni-search"></em>
                                </button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            {% if page_obj %}
                {% for c in page_obj %}
                    <div class="support-topic-item card card-bordered">
                        <a class="support-topic-block card-inner" href="{% url 'article:article_list' category_slug=c.slug %}">
                            <div class="support-topic-context data-item">
                                <h5 class="support-topic-title title">{{ c.title }}</h5>
                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                            </div>
                            <div class="support-topic-info data-label">{{ c.sub_title }}</div>
                            <div class="support-topic-count">Here are {{ c.article_category.all.count }} questions and answers.</div>
                        </a>
                    </div><!-- .support-topic-item -->
                {% endfor %}
            {% endif %}
        </div><!-- .nk-block -->
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered border-primary">
                <div class="card-inner">
                    <div class="nk-cta">
                        <div class="nk-cta-block">
                            <div class="nk-cta-img">
                                <em class="icon icon-circle ni ni-msg"></em>
                            </div>
                            <div class="nk-cta-text">
                                <p>If you don’t find your question please contact our support team.</p>
                            </div>
                        </div>
                        <div class="nk-cta-action">
                            <a href="html/subscription/contact.html" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>
  
<div class="nk-block">
    <div class="container pt-5">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item disabled"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link"  href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                    <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a></li> -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li> -->
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}