<!DOCTYPE html>
<html lang="zxx" class="js">
{% load static %}
<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="icon" href="{% static 'logo/onebackspace.png' %}">
    <!-- Page Title  -->
    <title>Subscription Dashboard | DashLite Admin Template</title>
    <!-- StyleSheets  -->
 <!-- StyleSheets  -->
 <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
 <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
 <link href="{% static 'assets/css/wizard-6.css' %}" rel="stylesheet" type="text/css">

</head>

<body class="nk-body npc-subscription has-aside ui-clean ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="{% url 'home:home' %}" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" style="height: 80px;width: 260px; max-width: 250%;" src="{% static 'assets/logo/onebackspace_logo.png' %}" srcset="{% static 'logo/Noterio-logo.png' %} 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-name dropdown-indicator d-none d-sm-block">{{ user.username }}</div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>AB</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{ user.username }}</span>
                                                        <span class="sub-text">{{ user.email }}</span>
                                                    </div>
                                                    <div class="user-action">
                                                        <a class="btn btn-icon mr-n2" href="{% url 'settings' %}"><em class="icon ni ni-setting"></em></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'personal-info' %}"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="{% url 'settings' %}"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'account_logout' %}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="dropdown notification-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon mr-lg-n1" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a href="#">Mark All as Read</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="#">View All</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="d-lg-none">
                                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-screen="lg" data-toggle-overlay="true" data-toggle-body="true">
                                <div class="nk-aside-inner" data-simplebar>
                                    <div class="side-wg">
                                        <a class="back-to" href="{% url 'dashboard' %}"><em class="icon ni ni-home"></em><span>Back to Dashboard</span></a>
                                    </div>
                                    <!-- Menu -->
                                    <div class="side-wg">
                                        <div class="side-wg-title">
                                            <h6 class="overline-title">Categories</h6>
                                        </div>
                                        <div class="side-wg-text">
                                            <ul class="list-plain list-category">
                                                {% for c in category %}
                                                <li><a href="{% url 'article:article_list' category_slug=c.slug %}">{{ c.title }}</a></li>
                                                {% endfor %}
                                                <li><a href="{% url 'support' %}">more</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- side-wg -->
                                    <div class="side-wg">
                                        <div class="side-wg-title">
                                            <h6 class="overline-title">Releated Articles</h6>
                                        </div>
                                        <div class="side-wg-text">
                                            <ul class="list-plain">
                                                {% for c in  categories.article_category.all %}
                                                <li><a href="{% url 'article:article_detail' category_slug=categories.slug article_slug=c.slug  %}">{{ c.title }}</a></li>
                                                {% endfor %}
                                              </ul>
                                        </div>
                                    </div><!-- side-wg -->
                                    <div class="side-wg">
                                        <div class="card card-bordered border-primary">
                                            <div class="card-inner">
                                                <div class="nk-cta-plain">
                                                    <div class="nk-cta-block">
                                                        <div class="nk-cta-img">
                                                            <em class="icon icon-circle ni ni-msg"></em>
                                                        </div>
                                                        <div class="nk-cta-text">
                                                            <p>If you don’t find your question please contact our support team.</p>
                                                        </div>
                                                    </div>
                                                    <div class="nk-cta-action ml-0">
                                                        <a href="{% url 'contact' %}" class="btn btn-primary">Contact Us</a>
                                                    </div>
                                                </div>
                                            </div><!-- Nk-card-inner -->
                                        </div>
                                    </div><!-- side-wg -->
                                </div><!-- .nk-aside-inner -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                                </div><!-- .nk-aside-close -->
                            </div>
                            
                            <div class="nk-content-body">
                                {% include 'messg/messages.html' %}
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 3000)
</script>                  
<script src="{% static  'assets/js/bundle.js' %}"></script>
<script src="{% static  'assets/js/scripts.js' %}"></script>
</html>