<!DOCTYPE html>
<html lang="zxx" class="js">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{{ logo.favor_icon.url }}">
    <!-- Page Title  -->
    <title>Subscription Dashboard | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets-2/assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets-2/assets/css/theme.css' %}">
</head>
<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            {% if user.is_authenticated %}
            <div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="{% url 'home:home' %}" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img" style="height: 60px;width: 260px; max-width: 250%;" src="{{ logo.dashboard_dark.url }}" srcset="{{ logo.dashboard_dark.url }} 2x" alt="logo-dark">
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                        <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Menu</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'dashboard' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'subscriptions' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-text"></em></span>
                                        <span class="nk-menu-text">My Subscription</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'payment-hestory' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-report-profit"></em></span>
                                        <span class="nk-menu-text">Payment History</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'settings' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                        <span class="nk-menu-text">Account Setting</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Others</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'pricing' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-offer"></em></span>
                                        <span class="nk-menu-text">Pricing</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="{% url 'invoices' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-property"></em></span>
                                        <span class="nk-menu-text">Invoices</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                            </ul>
                            <!-- Menu -->
                        
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title">Help Center</h6>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{% url 'faqs' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-question"></em></span>
                                        <span class="nk-menu-text">FAQs</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="{% url 'contact' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-contact"></em></span>
                                        <span class="nk-menu-text">Contact</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="{% url 'support' %}" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-msg-circle"></em></span>
                                        <span class="nk-menu-text">Help</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                            
                            </ul><!-- .nk-menu -->
                                   
                                
                           
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>
            {% endif %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="{% url 'home:home' %}" class="logo-link">
                                    <img class="logo-dark logo-img" style="height: 80px;width: 160px; max-width: 250%;" src="{% static 'assets-2/assets/logo/Noterio-logo-dark.png' %}" srcset="{% static 'logo/Noterio-logo.png' %} 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            {% if user.is_authenticated %}
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-xl-block">
                                                    <div class="user-status user-status-unverified">Free</div>
                                                    <div class="user-name dropdown-indicator">{{ user.username }}</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>{{ user.username }}</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{ user.username }}</span>
                                                        <span class="sub-text">{{ user.email }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'personal-info' %}"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="{% url 'settings' %}"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'account_logout' %}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% else %}                            
                            {% endif %}
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                            {% include 'messg/messages.html' %}
                            {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 Webeights.
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 3000)
    </script>
    <script src="{% static 'assets-2/assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets-2/assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets-2/assets/js/charts/chart-ecommerce.js' %}"></script>
    <script src="{% static 'assets-2/assets/js/example-toast.js' %}"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    
</body>
</html>