<!-- @@Modal - Subscription Cancle Confirmed @s -->
<div class="modal fade" tabindex="-1" id="subscription-cancel-confirmed">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body-md text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success-dim text-success"></em>
                    <h4 class="nk-modal-title">Successfully Cancelled</h4>
                    <div class="nk-modal-text">
                        <p>It will effect at the end of your current billing cycle on <strong>01 Feb 2020</strong>. We sent you a confirmation email <strong>(this may take up to 3 hours to receive)</strong>.</p>
                        <p class="sub-text-sm"><a href="#">Click here</a> to learn more about subscription plan.</p>
                    </div>
                    <div class="nk-modal-action-lg">
                        <a href="#" class="btn btn-mw btn-light" data-dismiss="modal">Return</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>You can easily re-subscription your favourite plan any time.</p>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->