{% extends 'base(support).html' %}
{% load static %}

{% block content %}

    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-sub"><a class="back-to" href="{% url 'support' %}"><em class="icon ni ni-arrow-left"></em><span>Supports</span></a></div>
            <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">{{ categories.title }}</h2>
                    <div class="nk-block-des">
                        <p>You can find all of the questions and answers abour secure your account</p>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        {% for c in  categories.article_category.all %}
        <div class="nk-block">
            <div class="card card-bordered">
                <div class="card-inner">
                    <div class="support-queue-item">
                        <a class="support-queue-link" href="{% url 'article:article_detail' category_slug=categories.slug article_slug=c.slug  %}">
                            <div class="support-queue-body">
                                <div class="support-queue-context">
                                    <h5 class="support-queue-title title">{{ c.title }}</h5>
                                </div>
                                <div class="support-queue-update">
                                    <span>last Updated {{ c.date }}</span>
                                </div>
                            </div>
                        </a>
                    </div><!-- .support-queue-item -->
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
        {% endfor %}
    </div>
    <!-- footer @s -->
    <div class="nk-footer">
        <div class="container wide-xl">
            <div class="nk-footer-wrap g-2">
                <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="#">Softnio</a>
                </div>
                <div class="nk-footer-links">
                    <ul class="nav nav-sm">
                        <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer @e -->
{% endblock %}

      